<%= render 'shared/banner' %>

<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
<div class = cards>
  <% @list.movies.each do |movie| %>
    <img src="<%= movie.poster_url %>" alt="movie poster" width="120px">
    <p><%= movie.title %></p>
    <p><%= movie.overview %></p>
    <%= link_to 'Delete form list', bookmark_path(@list.bookmarks.first.id), method: "delete" %>
  <% end %>
</div>
